.choose-us .information h3{
    font-size: 22px;
    font-weight: bold;
}

.category-cards{
    margin: 60px 5%;
    column-gap: 1.8%;
}

/*  Cards   */
.category-cards .CUcard{
    width: 22.5%;
    align-items: flex-start;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
    border: none;
    border-radius: 20px;
}


/*  Card Image  */
.category-cards .CUcard img{
    width: 100%;
}
/*  Card Title  */
.category-cards .CUcard h3{
    font-size: 24px;
    margin: 15px 18px 8px;
}
/*  Card Detail */
.category-cards .CUcard p{
    font-size: 11.5px;
    margin: 10px 18px;
    color: var(--grey);
}
/*  learn more  */    
.category-cards .CUcard a{
    color: var(--drk-blue);
    font-size: 14px;
    margin: 15px 18px 25px;
    font-weight: bold;
}


/*  Small bump on the line  */
.category-cards .CUcard div{
    width: 11%;
    height: 3px;
    margin-left: 18px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

/*  Seperate styling for bump  */
.category-cards .CUcard:nth-child(1) div{
    background-color: var(--drk-blue);
}
.category-cards .CUcard:nth-child(2) div{
    background-color: var(--green);
}
.category-cards .CUcard:nth-child(3) div{
    background-color: var(--yellow);
}
.category-cards .CUcard:nth-child(4) div{
    background-color: var(--red);
}


/*  The line after title    */
.category-cards .CUcard hr{
    border: none;
    margin-left: 18px;
}

/*  Seperate styling for line    */
.category-cards .CUcard:nth-child(1) hr{
    border-bottom: 1px solid var(--drk-blue);
}
.category-cards .CUcard:nth-child(2) hr{
    border-bottom: 1px solid var(--green);
}
.category-cards .CUcard:nth-child(3) hr{
    border-bottom: 1px solid var(--yellow);
}
.category-cards .CUcard:nth-child(4) hr{
    border-bottom: 1px solid var(--red);
}

/*  :::::  -----  Responsive  -----  :::::  */
/*  ::: --- 1080p --- :::  */
@media(max-width: 1080px){
    .choose-us .category-cards{
        margin: 60px 3% 80px;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 10.5px;
        margin: 10px 18px;
    }
}

/*  ::: --- 998px --- :::  */
@media(max-width: 998px){
    .choose-us .category-cards{
        margin: 60px 3% 80px;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 9.5px;
        margin: 10px 18px;
    }
}

/*  ::: --- 798px --- :::  */
@media(max-width: 798px){
    .choose-us .information{
        width: 60%;
        margin-left: 20%;
        text-align: center;
    }
    .choose-us .category-cards{
        width: 65%;
        margin: 40px 17.5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 40px;
    }
    .choose-us .category-cards .CUcard{
        width: 100%;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 11px;
    }
}

/*  ::: --- 520px --- :::  */
@media(max-width: 520px){
    .choose-us{
        margin-top: 70px;
    }
    .choose-us .information{
        width: 75%;
        margin-left: 13.5%;
        margin-bottom: 0;
    }
    .choose-us .category-cards{
        width: 86%;
        margin: 25px 7%;
        column-gap: 20px;
        row-gap: 30px;
    }
    .choose-us .category-cards .CUcard h3{
        font-size: 16px;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 10px;
    }
    .choose-us .category-cards .CUcard a{
        font-size: 12px;
        margin: 10px 18px 20px;
    }
}

/*  ::: --- 425px --- :::  */
@media(max-width: 425px){
    .choose-us{
        margin-top: 60px;
    }
    .choose-us .information{
        width: 85%;
        margin-left: 8.5%;
        margin-bottom: 0;
    }
    .choose-us .information h3{
        font-size: 20px;
    }
    .choose-us .category-cards{
        width: 60%;
        grid-template-columns: repeat(1, 1fr);
        margin: 25px 20%;
        row-gap: 25px;
    }
    .choose-us .category-cards .CUcard h3{
        font-size: 17px;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 11px;
    }
    .choose-us .category-cards .CUcard a{
        font-size: 13px;
        margin: 10px 19px 20px;
    }
}

/*  ::: --- 375px --- :::  */
@media(max-width: 375px){
    .choose-us .category-cards{
        width: 66%;
        margin: 25px 17.5%;
    }
    .choose-us .category-cards .CUcard h3{
        font-size: 16px;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 10.4px;
    }
    .choose-us .category-cards .CUcard a{
        font-size: 12px;
        margin: 5px 19px 20px;
    }
}

/*  ::: --- 320px --- :::  */
@media(max-width: 320px){
    .choose-us .category-cards{
        width: 75%;
        margin: 25px 13%;
        row-gap: 30px;
    }
    .choose-us .category-cards .CUcard h3{
        font-size: 16px;
    }
    .choose-us .category-cards .CUcard p{
        font-size: 10.4px;
    }
    .choose-us .category-cards .CUcard a{
        font-size: 12px;
        margin: 5px 19px 20px;
    }
}