.CustomSDC{
    margin: 100px 0 -25px;
}
.custom-flex-cont
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vw 8vw;
}
/*  Information  */
.CustomSDC .information{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.CustomSDC .information h3{
    font-size: 22px;
    margin-bottom: 15px;
}
.CustomSDC .information p{
    font-size: 16px;
    color: var(--grey);
}

/*    Card Section    */
.CustomSDC .Cards{
    display: flex;
    align-items: center;
    /* height: 85vh; */
    column-gap: 70px;
    margin: 40px 0 0;
    padding: 0 7%;
    overflow: hidden;
    overflow-x: scroll;
}
.CustomSDC .Cards::-webkit-scrollbar{
    display: none;
}

/*   Card    */
.CustomSDC .SDCcard{
    width: 25vw;
    margin-bottom: 3vw;
    padding: 1vw 2vw ;
    align-items: flex-start;
    row-gap: 12px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}
.CustomSDC .SDCcard img{
    width: 6vw;
    margin: 1vw 0vw 1vw 0vw;
    align-self: center;
}
.CustomSDC .SDCcard h3{
    font-size: 1.2vw;
    color: var(--grey);
    /* text-align: center; */
}
.CustomSDC .SDCcard p{
    font-size: 0.9vw;
    margin-bottom: 0vw !important;
    color: var(--grey);
    
}
.CustomSDC .SDCcard a{
    margin-top: 0vw;
    color: var(--drk-blue);
    cursor: pointer;
    font-size: 1vw;
}

/*  ::::: ----- Responsive Design ----- :::::   */
/*  :::   1080p   :::  */
@media(max-width: 1080px) {
    .CustomSDC .information{
        width: 85%;
        margin-left: 7.5%;
    }
    .CustomSDC .Cards{
        margin: 5vw 0 0;
    }
}

/*  :::   798px   :::  */
@media(max-width: 798px) {
    .CustomSDC .information{
        margin-bottom: 10px;
    }
    .CustomSDC .Cards{
        margin: 10px 0 0;
        column-gap: 50px;
    }
    .CustomSDC .Cards .SDCcard {
        padding: 15px 30px 25px;
    }
    .CustomSDC .information p{
        font-size: 14px;
    }
}

/*  :::   768px   :::  */
@media(max-width: 768px) {
    .CustomSDC .information{
        width: 75%;
        margin-left: 12.5%;
    }
    .CustomSDC .Cards{
        margin: 10px 0 0;
    }
    .CustomSDC .Cards .SDCcard {
        padding-bottom: 35px;
    }
    .CustomSDC .Cards .SDCcard img{
        width: 70px;
        margin: 40px 70px 30px;
    }
    .CustomSDC .SDCcard a{
        margin-top: 7px;
        font-size: 10px;
    }
    .CustomSDC .SDCcard h3{
        margin-top: 7px;
        font-size: 13px;
    }
    .CustomSDC .SDCcard p{
        margin-top: 7px;
        font-size: 10px;
    }
}

@media(max-width: 600px) {
    .CustomSDC .SDCcard
    {
        width: 39vw;
        margin-bottom: 4vw;
    }
    .CustomSDC .SDCcard:nth-child(1),
    .CustomSDC .SDCcard:nth-child(2)
    {
        margin-top: 7vw;
    }
}

/*  :::   520px   :::  */
@media(max-width: 520px) {
    .CustomSDC .information{
        width: 82%;
        margin: -8% 9% 0;
    }
    .CustomSDC .information h3{
        font-size: 19px;
    }
    .CustomSDC .information p{
        font-size: 13px;
    }
    .CustomSDC .Cards{
        margin: -10px 0 0;
    }
    .CustomSDC .Cards .SDCcard {
        padding: 12px 30px 25px;
    }
    .CustomSDC .Cards .SDCcard img{
        width: 70px;
        margin: 40px 70px 30px;
    }
    .CustomSDC .Cards .SDCcard h3{
        font-size: 16px;
        text-align: left;
    }
}
@media(max-width: 520px)
{
    .CustomSDC .SDCcard
    {
        width: 70vw;
    }
    .custom-flex-cont
    {
        justify-content: center;
    }
    .CustomSDC .SDCcard img
    {
        width: 16vw;
    }
    .CustomSDC .SDCcard h3
    {
        font-size: 3.2vw;
        margin-left: 3vw;
    }
    .CustomSDC .SDCcard p
    {
        font-size: 2.2vw;
        margin-top: 0vw;
        margin-left: 3vw;
    }
    .CustomSDC .SDCcard a
    {
        font-size: 2.8vw;
        padding-bottom: 2vw;
        margin-left: 3vw;
    }
}

/*  :::   425px   :::  */
@media(max-width: 425px) {
    .CustomSDC .information{
        width: 80%;
        margin: -10% 10% -20px;
    }
    .CustomSDC .information h3{
        font-size: 19px;
    }
    .CustomSDC .information p{
        font-size: 12px;
    }
}

/*  :::   375px   :::  */
@media(max-width: 375px) {
    html{
        border: 1px solid #f00;
    }
    .CustomSDC .information{
        width: 80%;
        margin: -15% 10% -20px;
    }
    .CustomSDC .information h3{
        font-size: 18px;
    }
    .CustomSDC .information p{
        font-size: 11.5px;
    }
    .CustomSDC .Cards .SDCcard {
        padding: 12px 25px 30px;
    }
    .CustomSDC .Cards .SDCcard h3{
        font-size: 16px;
        text-align: left;
    }
    .CustomSDC .Cards .SDCcard p{
        font-size: 12px;
    }
    .CustomSDC .Cards .SDCcard a{
        font-size: 15px;
    }
}

/*  :::   320px   :::  */
@media(max-width: 320px) {
    .CustomSDC .information{
        width: 80%;
        margin: -17% 10% -35px;
    }
    .CustomSDC .information h3{
        font-size: 17px;
    }
    .CustomSDC .information p{
        font-size: 11px;
    }
    .CustomSDC .Cards{
        column-gap: 40px;
    }
    .CustomSDC .Cards .SDCcard {
        padding: 12px 25px 30px;
    }
    .CustomSDC .Cards .SDCcard h3{
        font-size: 14px;
        text-align: left;
    }
    .CustomSDC .Cards .SDCcard p{
        font-size: 12px;
    }
    .CustomSDC .Cards .SDCcard a{
        font-size: 13px;
    }
    .CustomSDC .Cards .SDCcard img{
        width: 60px;
        margin: 30px 60px 20px;
    }
}