.project-info{
    width: 100%;
    height: 100px;
    color: #FFF;
    background-color: var(--drk-blue);
    column-gap: 60px;
    overflow: hidden;
}

.project-info div.df{
    column-gap: 30px;
}

.project-info h1{
    font-size: 34px;
    letter-spacing: 1.5px;
}
.project-info p{
    font-family: var(--font-l);
    font-size: var(--normal-font-size);
    font-weight: lighter;
}


/*  ::::: ----- Responsive Design ----- :::::   */
/*  :::   1080px   :::  */
@media(max-width: 1080px) {
    .project-info{
        column-gap: 40px;
    }
    .project-info div.df{
        column-gap: 15px;
    }
    .project-info p{
        font-size: 15px;
    }
}

/*  :::   1024px   :::  */
@media(max-width: 1024px) {
    .project-info{
        column-gap: 35px;
    }
    .project-info div.df{
        column-gap: 13px;
    }
    .project-info p{
        font-size: 14.5px;
    }
}

/*  :::   798px   :::  */
@media(max-width: 798px) {
    .project-info{
        height: 90px;
        column-gap: 20px;
    }
    .project-info div.df{
        column-gap: 11px;
    }
    .project-info h1{
        font-size: 30px;
    }
    .project-info p{
        font-size: 14px;
    }
}

/*  :::   768px   :::  */
@media(max-width: 768px) {
    .project-info p{
        font-size: 13px;
    }
}

/*  :::   520px   :::  */
@media(max-width: 520px) {
    .project-info{
        padding: 25px 50px 20px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}

/*  :::   425px   :::  */
@media(max-width: 425px) {
    .project-info{
        padding: 25px 35px 20px;
    }
    .project-info h1{
        font-size: 29px;
    }
    .project-info p{
        font-size: 12.5px;
    }
}

/*  :::   375px   :::  */
@media(max-width: 375px) {
    .project-info{
        padding: 25px 25px 20px 40px;
        column-gap: 50px;
    }
    .project-info h1{
        font-size: 27px;
    }
    .project-info p{
        font-size: 12.2px;
    }
}

/*  :::   320px   :::  */
@media(max-width: 320px) {
    .project-info{
       padding: 25px 30px;
       column-gap: 40px;
    }
    .project-info h1{
        font-size: 25px;
    }
    .project-info p{
        font-size: 12px;
    }
}